html, body {
	height: 100%;
	width: 100%;
}

body {
	background: url(cover.jpg) no-repeat center center fixed;
	background-size: cover;
}

a {
	color: #212529;
	font-size: 1.6rem;
	padding-right: 40px; 
	transition: all 1.1s linear;
}

.buffer {
	height: 4rem;
}

.container input {
  width: 100%;
  clear: both;
}

p {
	font-size: 1.3rem;
	font-family: Monospace;
}
